<a href="https://colab.research.google.com/github/agamgupta2015/Pyhton/blob/main/python_bootcamp_day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionary and set

In [ ]:
# # dictionary is a unordered collection of items. each value in a dictionary is a key value pair.

# 5:- "name"
# [1,2,3,,4,56,7,9,10]  O(n) time complexity to access the element in the lsit

# dict[1]=1
# dict[2]=1
# dict[3]=1

# print(dict[8])     O(1) time complexity

In [ ]:
a=[1,2,3,4,5,6]       
num=7
for i in a:
  if i==num:
    print("found")
  print(i)

1
2
3
4
5
6

In [ ]:
dict1={1:1,2:1,3:1,4:1,5:1,6:1}
print(dict1.get(7,"not found"))     O(1) time

not found

In [ ]:
my_dict={}    #empty dict
a={1:"one",2:"two",3:"three"}     #with values
b={"list":[1,2,3,4,5],"list2":[12,3],4:"45"}    #with values

In [ ]:
#acessing elements in the list
a={1:"one",2:"two",3:"three","name":"rahul"}


print(a[1])
print(a["name"])    

print(a.get(4,"not found"))

one
rahul
not found

In [ ]:
#changing and adding elements in the list
a={1:"one",2:"two",3:"three","name":"rahul"}

a[2]="tow"
print(a)

a[4]="four"
print(a)

{1: 'one', 2: 'tow', 3: 'three', 'name': 'rahul'}
{1: 'one', 2: 'tow', 3: 'three', 'name': 'rahul', 4: 'four'}

In [ ]:
#deleting elements from the dictionary
a={1:"one",2:"two",3:"three","name":"rahul"}

print(a.pop(1))
print(a)

del a[2]      #to delete a particular element
print(a)


a.clear()    #to clear the whole dict
print(a)

one
{2: 'two', 3: 'three', 'name': 'rahul'}
{3: 'three', 'name': 'rahul'}
{}

In [ ]:
a={1:"one",2:"two",3:"three","name":"rahul"}

rev_a={v:k for k,v in a.items()}    #adavnced form of a for loop 
print(rev_a)

{'one': 1, 'two': 2, 'three': 3, 'rahul': 'name'}

In [ ]:
a={1:"one",2:"two",3:"three","name":"rahul"}

print(a.keys())
print(a.items())    #list of tuples   (1,2) (3,4) (4,5)

rev={}

for k,v in a.items():
  print(k,v,sep="   ")
  rev[v]=k

print(rev)

dict_keys([1, 2, 3, 'name'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three'), ('name', 'rahul')])
1   one
2   two
3   three
name   rahul
{'one': 1, 'two': 2, 'three': 3, 'rahul': 'name'}

In [ ]:
s1="hello"
l1=[c for c in s1]
print(l1)

['h', 'e', 'l', 'l', 'o']

In [ ]:
#set  :- is a uordered collection of items where there will be no duplicates

s1=set()  #empty set
print(s1)

s2={1,2,3,4,1}
print(s2)

set()
{1, 2, 3, 4}

In [ ]:
s1={1,2,3,4,5}
s1.add(6)

print(s1)

s1.add(6)
print(s1)


s1.add(6)
print(s1)

s1.update([17,8,9])   #addign multiple elements
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8, 9, 17}

In [ ]:
#removing elements from the set

#discard func and remove fucntion
s1.discard(17)
print(s1)

s1.discard(10)
print(s1)


s1.remove(2)    #cannot remove elements if not rpesent gives error
print(s1)


s1.clear()
print(s1)

{0, 1, 2, 3, 4, 5, 12}
{0, 1, 2, 3, 4, 5, 12}
{0, 1, 3, 4, 5, 12}
set()

In [ ]:
s1={1,3,4,2,5,12,0}   #set will also be sorted
print(s1)

{0, 1, 2, 3, 4, 5, 12}

In [ ]:
#set operations

a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [ ]:
#set union
print(a|b)   #pipe operator
print(a.union(b))

#intersection
print(a&b)   #and operator
print(a.intersection(b))

#set differnce
# a-a&b

print(a-b)
print(b-a)

print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [ ]:
#symetric differnce
# a(union)b - a(intersection)b

print(a^b)
print(a.symmetric_difference(b))

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}